[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/snipmate-vim"]
	path = bundle/snipmate-vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/tristen/vim-sparkup.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
